@import url('https://fonts.googleapis.com/css?family=Cormorant+Upright|Cookie|Mountains+of+Christmas');

body {
  color: #882321;
  background-color: #94976a;
  font-family: 'Cormorant Upright',serif;
  font-size: 30px;
}

.jumbotron {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #a22b28;
    height:100%
}

.form {
  height: 700px;
  display: flex;
  font-size: 25px;
  justify-content: center;
  text-align: center;
  padding-top: 30px;
  /* color: #552320; */

  /* align-content: center; */
  /* align-items: center */
}

.head_text {
  margin: 10px;
  margin-bottom: 40px;
  display: flex;
  text-align: center;
  font-style: bold;
  font-size: 25px;
  /* color: #552320; */
}